@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 14px !important;
  }
  body {
    font-family: 'Inter', sans-serif;
    background-color: #0f172a;
    color: #f8fafc;
    margin: 0;
    overflow-y: auto;
  }
}

.font-manrope { font-family: 'Manrope', sans-serif; }

::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #1e293b; }
::-webkit-scrollbar-thumb { background: #475569; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #64748b; }
